@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.IsInRole("Admin"))
    {
        <h2 class="text-info">Your role is - Admin</h2>
    }
    else
    {
        <h2 class="text-info">Your role is - User</h2>
    }

</div>